<%= link_to "Add a Post", new_post_path %>
<div>
  <% @posts.each do |post|%>
    <ul>
      <div>
        <li><h3><%= link_to post.title.upcase, post.url %></h3> submitted <%= time_ago_in_words(post.created_at)%> ago by <%= post.user.email %></li>
        <%= link_to "Comment", post_path(post) %>
      </div>
    </ul>
  <% end %>
</div>
