<h2><%= link_to @post.title, @post.url %></h2>

<%= form_for([@post, @comment]) do |form| %>
  <%= form.text_area :description %>
  <%= form.submit "Add Comment" %>
<% end %>

<div>
  <% @comments.each do |comment| %>
    <ul>
      <li><h3><%= comment.description %></h3></li>
      commented by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago
    </ul>
  <% end %>
</div>
