<h2><%= @post.title %></h2>

<%= form_for([@post, @comment]) do |form| %>
  <%= form.text_area :description %>
  <%= form.submit "Add Comment" %>
<% end %>

<div>
  <% @comments.each do |comment| %>
    <ul>
      <li><h3><%= comment.description %></h3></li>
    commented by <%= comment.user.email %>
    </ul>
  <% end %>
</div>
